.qtyBtn {
    margin-top: 10px;
    display: flex;
    width: 120px;
    justify-content: space-between;
    align-items: center;
}

.qtyBtn span {
    width: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
}